@import "bootstrap-variables";
@import "bootstrap/bootstrap";
@import "vendors/vendors";
@import "core-variables";
@import "core/core";
@import "custom";


body,* {
    font-family: 'Roboto Condensed', sans-serif;
    
}
.status-off{
    background-color:whitesmoke;
    color: white;
}
.pointer{
    cursor: pointer;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
  }
  
  .switch input {display:none;}
  
  .switch span.lever {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch span.lever:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .lever {
    background-color: #2196F3;
  }
  
  input:focus + .lever {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .lever:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  .switch span.lever{
    border-radius: 20px;
  }
  .switch span.lever:before {
    border-radius: 50%;
  }
  .lable-switch{
    display: flex;
  }
  .lable-switch>span{
    color: #000;
    margin: 0px 5px;
  }
  .toast-title {
    font-weight: bold;
}
.toast-message {
    word-wrap: break-word;
}
.toast-message a,
.toast-message label {
    color: #FFFFFF;
}
.toast-message a:hover {
    color: #CCCCCC;
    text-decoration: none;
}
.toast-close-button {
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    -webkit-text-shadow: 0 1px 0 #ffffff;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.8;
}
.toast-close-button:hover,
.toast-close-button:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.toast-top-center {
    top: 0;
    right: 0;
    width: 100%;
}
.toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
}
.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
}
.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
}
.toast-top-left {
    top: 12px;
    left: 12px;
}
.toast-top-right {
    top: 12px;
    right: 12px;
}
.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}
.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}
#toast-container {
    pointer-events: none;
    position: fixed;
    z-index: 99999;
}
#toast-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#toast-container > div {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 12px #999999;
    -webkit-box-shadow: 0 0 12px #999999;
    box-shadow: 0 0 12px #999999;
    color: #FFFFFF;
    opacity: 0.8;
}

#toast-container > div.toast-custom {
    padding: 15px;
    color: #030303;
}

#toast-container > div.toast-custom .toast-close-button {
    color: #999999 !important;
}

#toast-container > :hover {
    -moz-box-shadow: 0 0 12px #000000;
    -webkit-box-shadow: 0 0 12px #000000;
    box-shadow: 0 0 12px #000000;
    opacity: 1;
    cursor: pointer;
}
#toast-container > .toast-info {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}
#toast-container > .toast-error {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}
#toast-container > .toast-success {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}
#toast-container > .toast-warning {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}
#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
    width: 300px;
    margin: auto;
}
#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
    width: 96%;
    margin: auto;
}
.toast {
    background-color: #FFFFFF;
    pointer-events: auto;
}
.toast-success {
    background-color: #51A351;
}
.toast-error {
    background-color: #BD362F;
}
.toast-info {
    background-color: #2F96B4;
}
.toast-warning {
    background-color: #F89406;
}

.toast-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000000;
    opacity: 0.4;
}

/*Responsive Design*/
@media all and (max-width: 240px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 11em;
    }
    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
}
@media all and (min-width: 241px) and (max-width: 480px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 18em;
    }
    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
}

@media all and (min-width: 481px) and (max-width: 768px) {
    #toast-container > div {
        padding: 15px 15px 15px 50px;
        width: 25em;
    }
}

.imagesThumb input[type='file']{
    display: none;
}
.imagesThumb>div{
    width: 100px;
    height: 100px;
    position: relative;
    border: 1px dashed rgb(220, 222, 227);
    overflow: hidden;
    text-align: center;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}
.imagesThumb>div img{
    height: 100%;
}
.imagesThumb>div span.del{
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.imagesThumb>div span.change,
.imagesThumb>div span.add{
    position: absolute;
    left: calc(50% - 15px);
    top: calc(50% - 15px);
    padding: 5px 10px;
    cursor: pointer;
}
//
//
// icon content
.icon-calendar{
    width: 100px;
}
.icon-folders{
    width: calc(100% - 170px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.icon-views{
    width: 70px;
    text-align: right;
    padding-right: 10px;
}
//end icon content

.app-pages img{
    max-width: 100% !important;
    height: auto !important;
}

//slides
.owl-carousel-testmonial .owl-dot.active {
    background: #36EA7F;
    border-color: #36EA7F;
}
.owl-carousel-testmonial .owl-dot {
    height: 20px;
    width: 20px;
    border: 1px solid #e5e5e5;
    display: inline-block;
    margin: 0px 4px;
    border-radius: 50%;
    transition: all 0.3s linear;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: none;
}
owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: none;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: none;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.owl-carousel button.owl-dot {
    background:#e5e5e5;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
}
.owl-carousel-brand .owl-dots{
    display: none;
}
//end siles
/* ========= small device ============*/
@media (max-width:767px) {
    .header-top{
        display: none;
    }
    .menu{
        top: 0;
        background: #333333;
    }
    .banner{
        overflow: hidden;
    }
    .banner_text p {
        font-size: 13px;
        line-height: 17px;
        position: relative;
        left: -12px;
        padding: 10px 0px;
    }
    .banner_text h1 {
        font-size: 21px;
        position: relative;
        left: -13px;
    }
    .banner_text button {
        border: 1px solid #fff;
        padding: 10px 12px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        margin: 5px 6px;
        background: transparent;
        color: #fff;
        transition: all 0.3s linear;
        font-size: 11px;
    }
    .menu .navbar-toggle {
	    border-color: #333333;
    }
    .menu .navbar-toggle:hover{
        border-color: #333333;
    }
    .menu .navbar-toggle:focus, .menu .navbar-toggle:hover {
	    background-color: transparent;
    }
    .menu .navbar-toggle .icon-bar {
	    background-color: #36EA7F;
    }
    .menu .navbar-nav > li > a::after{
        display: none;
    }
    .menu .navbar-nav > li > a{
        text-align: center;
    }
    .menu .navbar-nav > .active > a, .menu .navbar-nav > .active > a:focus, .menu .navbar-nav > .active > a:hover {
        color: #36EA7F;
        background-color: transparent;
    }
    .about_info h1 {
        font-size: 23px;
        text-align: center;
    }
    .about_info p {
        font-size: 14px;
        line-height: 21px;
    }
    .hide_sm{
        display: none;
    }
    .about_info button {
        margin: 0 auto 10px auto;
        display: table;
    }
    .work_togather_content h2 {
	    font-size: 20px;
    }
    .team_item {
	    margin-bottom: 20px;
    }
    .count_item {
	    margin-bottom: 18px;
    }
    .portfolio-filter li {
        display: inline-block;
        cursor: pointer;
        padding: 5px 9px;
        border: 1px solid #e5e5e5;
        margin: 0px 2px 5px 0px;
    }
    .work_us_content h2 {
	    font-size: 21px;
    }
    .testmonial_item{
        text-align: center;
    }
    .blog_item {
	    margin-bottom: 20px;
    }
    .price_item {
	    margin-bottom: 14px;
    }
    .news_item button {
        margin: 29px auto 0px auto;
        display: table;
    }
    .contcat_info{
        padding: 0px;
        margin-top: 20px;
    }
    .fllow_info h3 {
	    padding-top: 10px;
    }
    .footer_social {
        text-align: center;
        margin-top: 19px;
    }
    .footer_logo {
	    text-align: center;
    }

}
/* ========= tablet device ============*/
@media(min-width:768px) and (max-width:1279px) {
    .menu {
        top: 4%;
    }
    .banner{
        overflow: hidden;
    }
    .menu .navbar-nav > li > a{
        font-size: 11px;
    }
    .banner_text p {
	    padding: 10px 0px;
    }
    .banner_text h1 {
        position: relative;
        left: -14px;
    }
    .hide_sm{
        display: none;
    }
    .team_item {
	    margin-bottom: 19px;
    }
    .count_item {
	    margin-bottom: 11px;
    }
    .testmonial_img {
        border-style: none;
        position: relative;
        left: 10px;
    }
    .price_item {
	    margin-bottom: 14px;
    }
}
button:focus{
    outline:none !important
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: rgba(0,0,0,.3);
    border: 5px solid transparent;
    border-radius: 10px;
    min-height: 20px;
    min-width: 20px;
    height: 5px;
    width: 5px;
  }
  
  ::-webkit-scrollbar {
    height: 15px;
    width: 15px;
    background: transparent;
  }
  ::-webkit-scrollbar-button {
    height: 0;
    width: 0;
  }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
}
.dropdown-menu{
    border-radius: 0 !important;
}
.load{
    position:absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    z-index: 9999999999999999999999;
    overflow: hidden; 
}
.load .img{
    display: flex;
    width: 100vh;
    height: 100vh;
    margin-left: 20px;
    justify-content: space-around;
    align-items: center;        
}